.login-container {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #1f497d;
}

.login-grid {
    inline-size: 90%;
    max-inline-size: 24em;
}

.login-title {
    font-size: 2rem;
    text-align:center;
    margin-bottom: 1rem;
}

.login-body {
    background-color: #fff;
    border-radius: 8px;
    padding: 1.5em;
    box-shadow: 5px 6px 7px 0px rgba(0,0,0,0.58);
}
